<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Imager Site</title>
    {% load static %}
    <link href="{% static 'imagersite/style.css' %}" rel="stylesheet">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <header class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="{% url 'home' %}">Home</a>
                {% if not request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'auth_login' %}">Login</a>
                <a class="nav-link" href="{% url 'registration_register' %}">Register</a>
                {% endif %}
                {% if request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'auth_logout' %}">Logout</a>
                <a class="nav-link" href="{% url 'library' %}">Library</a>
                <a class="nav-link" href="{% url 'profile' %}">{{user.username}}</a>
                {% endif %}
              </nav>
            </div>
          </header>


            {% block title %}{% endblock %}
            {% block content %}{% endblock %}

          <footer class="mastfoot">
            <div class="inner">
            </div>
          </footer>

        </div>

      </div>

    </div>

<!--   <script src="/code.jquery.com/jquery-3.2.1.min.js"></script>
  <link  href="/path/to/jquery.fancybox.min.css" rel="stylesheet">
  <script src="/path/to/jquery.fancybox.min.js"></script>  -->
  </body>
</html>
